body {
    font-family: "EB Garamond", serif;
    background-color: white;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7em;
    font-size: 16pt;
}

@media screen and (max-width: 767px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.sitetitle {
    font-weight: bold;
    font-size: x-large;
    color: #808066;
}

ul.menu {
    float: right;
    display: inline-block;
}

ul.menu li {
    list-style-type: none;
    display: inline-grid;
    margin-left: 1em;
}

a:link {
    color: #62628F;
    text-decoration: none;
}

a:active {
    color: #8F6262;
    text-decoration: none;
}

a:visited {
    color: #8f628F;
    text-decoration: none;
}

ul.menu li a:link {
    color: #BCBC96;
    text-decoration: none;
}

ul.menu li a:visited {
    color: #BCBC96;
    text-decoration: none;
}

ul.menu li a:visited {
    color: #BCBC96;
    text-decoration: none;
}

img {
    max-width: 100%;
    text-align: center;
    margin: auto;
    display: block;
}

div.center-img img {
    max-width: 50%;
    text-align: center;
}
